<h1 mat-dialog-title>ลบข้อมูลห้องพัก</h1>
<div mat-dialog-content>
    <div fxlayout="row" fxLayoutAlign="space-between center">
        <h4>เลขห้องพัก :</h4>
        <mat-form-field appearance="outline">
            <td mat-cell *MatDialogRef="let element"> {{element.id}} </td>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>ยืนยัน</button>
    <button mat-button (click)="onClose()">ยกเลิก</button>
</div>