<mat-toolbar color="warm">
  <mat-toolbar-row>
    <span>Resort O-Live</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>

  <mat-tab label="หน้าแรก"> Wellcome! </mat-tab>
  <mat-tab label="ข้อมูลห้องพัก">
    <div class="addButton" fxlayout="row" fxLayoutAlign="space-between center">
      <h2></h2>
      <button mat-raised-button color="grey" (click)="addRoom()">เพิ่มข้อมูล</button>
    </div>

    <mat-card>
      <!-- ข้อมูลเพิ่มเติม https://tburleson-layouts-demos.firebaseapp.com/ -->
      <div fxLayout="row">
        <mat-form-field fxFlex>
          <input matInput placeholder="ค้นหาจากรหัสห้องพัก">
        </mat-form-field>
        <button class="btnSearch" mat-raised-button md-colors="grey">ค้นหา</button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> เลขห้องพัก </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef> ขนาด </th>
          <td mat-cell *matCellDef="let element"> {{element.site}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> ราคาห้อง/คืน </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> สถานะ </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Tool Column -->
        <ng-container matColumnDef="tool">
          <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="warm" (click)="editRoom()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warm" (click)="deleteRoom(element)">
              <mat-icon>close</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>

  </mat-tab>

</mat-tab-group>