<h1 mat-dialog-title>แก้ไขข้อมูลห้องพัก</h1>
<div mat-dialog-content>
    <div fxlayout="row" fxLayoutAlign="space-between center">
        <h4>เลขห้องพัก :</h4>
        <mat-form-field appearance="outline">
            <input matInput placeholder="เลขห้องพัก">
        </mat-form-field>
    </div>
    <div fxlayout="row" fxLayoutAlign="space-between center">
        <h4>จำนวนคนเข้าพัก :</h4>
        <mat-form-field appearance="outline">
            <input matInput placeholder="จำนวนคนเข้าพัก">
        </mat-form-field>
    </div>
    <div fxlayout="row" fxLayoutAlign="space-between center">
        <h4>ราคาห้อง/คืน :</h4>
        <mat-form-field appearance="outline">
            <input matInput placeholder="จำนวนคนเข้าพัก">
        </mat-form-field>
    </div>
    <div fxlayout="row" fxLayoutAlign="space-between center">
        <h4>สถานะ :</h4>
        <mat-form-field appearance="outline">
            <select matNativeControl required>
                <option value="1">เปิดใช้งาน</option>
                <option value="2">ปิดปรับปรุง</option>
            </select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-button [mat-dialog-close]="data.room" cdkFocusInitial>ยืนยัน</button>
    <button mat-button (click)="onClose()">ยกเลิก</button>
</div>